# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Build/Artefakte
build/
dist/

# Logs/Temp/Jupyter
*.log
**/.ipynb_checkpoints/



# Secrets/Env
.env
.env.*

# Subterra
results/
meshes/
params/temp/
