# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
*.xml

# Build/Artefakte
build/
dist/

# Logs/Temp/Jupyter
*.log
**/.ipynb_checkpoints/

# Secrets/Env
.env
.env.*

# Subterra
results/
meshes/

